.home{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 10px;
}
.homeBtn {
    padding: 10px;
    text-align: center;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer; 
    transition: transform 0.3s, background-color 0.3s;
    padding: 10px;
      margin: 10px;
    
    a {
      text-decoration: none; 
      color: inherit; 
      
    }
  
    &:hover {
      background-color: rgb(188, 194, 198);
      transform: translateY(-5px);
    }
  }
  
  .homeh1{
    text-align: center;
  }